In [3]:
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
import datetime as dt
import numpy as np
from FinanceTools import *
from IRPF_Tools import *

csv = 'debug/df_log_br.tsv'

In [4]:

irpf = IRPF_BensDireitos(csv)
irpf.load()
# df

/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)

In [5]:
ac = irpf.get_last_year()
ac = ac[ac['DESC'].str.contains('Ação')]
irpf.show(ac)

In [6]:
fii = irpf.get_last_year()
fii = fii[fii['DESC'].str.contains('FII')]
irpf.show(fii)

In [7]:
irpf.show(irpf.get_last_year())

In [8]:
df = pd.read_csv('/home/doreis/Documents/IRPF/2022/2022_informes_redimento/clear/proventos.csv', decimal=',', thousands='.')
print(df[df['Ativo'] == 'CIELO'])
df=df[['Ativo', 'Evento', 'ValorLiquido']]
df['Ativo'] = df['Ativo'].str.replace('FII', 'FII ')
display(df)

    Ativo     Evento  Quantidade  ValorBruto  ValorIR  ValorLiquido  \
16  CIELO  DIVIDENDO        3451      $19.05    $0.00        $19.05
17  CIELO        JCP        3451     $193.09   $28.96       $164.13
18  CIELO        JCP        3451     $108.79   $16.31        $92.48
19  CIELO        JCP        3451      $81.33   $12.19        $69.14
20  CIELO        JCP        4551     $125.99   $18.89       $107.10

     Pagamento
16  17/02/2021
17  17/02/2021
18  13/05/2021
19  19/08/2021
20  26/11/2021

           Ativo     Evento  ValorLiquido
0       AMBEVS/A  DIVIDENDO        $38.35
1       BRADESCO        JCP         $2.93
2       BRADESCO        JCP         $3.37
3       BRADESCO        JCP         $2.93
4       BRADESCO        JCP         $2.93
..           ...        ...           ...
227  PORTOSEGURO  DIVIDENDO       $341.67
228       SMILES        JCP       $321.30
229       SMILES  DIVIDENDO     $3,503.57
230       TRISUL  DIVIDENDO        $36.28
231       TRISUL  DIVIDENDO        $36.28

[232 rows x 3 columns]

In [9]:
display(df)

           Ativo     Evento  ValorLiquido
0       AMBEVS/A  DIVIDENDO        $38.35
1       BRADESCO        JCP         $2.93
2       BRADESCO        JCP         $3.37
3       BRADESCO        JCP         $2.93
4       BRADESCO        JCP         $2.93
..           ...        ...           ...
227  PORTOSEGURO  DIVIDENDO       $341.67
228       SMILES        JCP       $321.30
229       SMILES  DIVIDENDO     $3,503.57
230       TRISUL  DIVIDENDO        $36.28
231       TRISUL  DIVIDENDO        $36.28

[232 rows x 3 columns]

In [10]:
g = df.groupby(['Ativo', 'Evento'])
display(g['ValorLiquido'].sum())

Ativo         Evento
AMBEVS/A      DIVIDENDO         $38.35
BRADESCO      DIVIDENDO         $43.25
              JCP              $130.08
CIAHERING     DIVIDENDO         $37.39
CIELO         DIVIDENDO         $19.05
              JCP              $432.85
ENGIEBRASIL   DIVIDENDO        $322.47
              JCP               $18.23
EZTEC         DIVIDENDO         $84.79
FII CSHGURB   RENDIMENTO       $103.30
FII DEVANT    RENDIMENTO       $171.05
FII FATORVE   RENDIMENTO       $191.30
FII GTOWERS   RENDIMENTO        $96.90
FII HGREAL    RENDIMENTO       $116.61
FII HSILOG    RENDIMENTO       $104.40
FII HSIMALL   RENDIMENTO        $97.58
FII KINEASC   RENDIMENTO       $124.90
FII MAXIREN   RENDIMENTO       $170.00
FII RBRALPHA  RENDIMENTO       $259.20
FII RBRPCRI   RENDIMENTO       $216.74
FII SPDOWNT   AMORTIZACAO      $316.25
              RENDIMENTO       $333.96
FII VBIREIT   RENDIMENTO        $35.76
FII VINCILG   RENDIMENTO       $190.15
FII VINCILOG  RENDIMENTO        $34.70
FII VINCISC   RENDIMENTO       $339.84
FII XPLOG     RENDIMENTO       $292.40
FII XPMACAE   RENDIMENTO       $790.92
FII XPMALLS   RENDIMENTO       $277.35
FLEURY        DIVIDENDO         $49.43
              JCP               $19.95
GOL           RESGATETOTAL   $4,451.96
GRENDENE      DIVIDENDO        $608.29
              JCP              $132.04
IHPARDINI     JCP               $26.81
ITAUUNIBANCO  DIVIDENDO         $44.78
              JCP               $56.00
LOCAMERICA    JCP               $36.00
M.DIASBRANCO  JCP              $369.19
MOVIDA        JCP                $6.52
MRV           DIVIDENDO         $48.70
PORTOSEGURO   DIVIDENDO        $607.98
              JCP              $273.65
SMILES        DIVIDENDO      $3,503.57
              JCP              $321.30
TRISUL        DIVIDENDO         $72.56
Name: ValorLiquido, dtype: float64

In [14]:
tx = Taxation(csv)
tx.Process('Ação')
display(tx.swingTradeTable)
display(tx.dayTradeTable)

                  Profit  AcumLoss  Dutiable Tax
Year Month
2018 March        $10.15     $0.00    $10.15   0
     April       $215.05     $0.00   $215.05   0
     May           $0.00     $0.00         0   0
     June          $0.00     $0.00         0   0
     July          $0.00     $0.00         0   0
     August        $0.00     $0.00         0   0
     September     $0.00     $0.00         0   0
     October       $0.00     $0.00         0   0
     November  $1,211.07     $0.00 $1,211.07   0
     December      $0.00     $0.00         0   0
2019 January       $0.00     $0.00         0   0
     March         $0.00     $0.00         0   0
     April         $0.00     $0.00         0   0
     May           $0.00     $0.00         0   0
     June          $0.00     $0.00         0   0
     July          $0.00     $0.00         0   0
     August        $0.00     $0.00         0   0
     September     $0.00     $0.00         0   0
     October       $0.00     $0.00         0   0
     November      $0.00     $0.00         0   0
2020 January   $9,819.70     $0.00 $9,819.70   0
     February      $0.00     $0.00         0   0
     March         $0.00     $0.00         0   0
     April         $0.00     $0.00         0   0
     May           $0.00     $0.00         0   0
     June      $3,873.37     $0.00 $3,873.37   0
     July      $1,698.35     $0.00 $1,698.35   0
     August        $0.00     $0.00         0   0
     September     $0.00     $0.00         0   0
     October       $0.00     $0.00         0   0
     November      $0.00     $0.00         0   0
     December      $0.00     $0.00         0   0
2021 January       $0.00     $0.00         0   0
     February      $0.00     $0.00         0   0
     March         $0.00     $0.00         0   0
     April         $0.00     $0.00         0   0
     May         $837.52     $0.00   $837.52   0
     June      $4,089.64     $0.00 $4,089.64   0
     July      $6,038.13     $0.00 $6,038.13   0
     August      $333.07     $0.00   $333.07   0
     September     $0.00     $0.00         0   0
     October       $0.00     $0.00         0   0
     November  $2,820.56     $0.00 $2,820.56   0
     December     $-1.19    $-1.19         0   0
2022 January      $-5.89    $-7.09         0   0
     February      $0.00    $-7.09         0   0
     March         $0.00    $-7.09         0   0
     April        $56.58     $0.00    $49.49   0
     May           $0.00     $0.00         0   0