In [43]:
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
import datetime as dt
import numpy as np
from FinanceTools import *
from IRPF_Tools import *

csv = 'debug/df_log_br.tsv'

In [44]:

irpf = IRPF_BensDireitos(csv)
irpf.load()
# df

/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)
/home/doreis/lowrisc/git/Finances/IRPF_Tools.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_values(['PAYDATE', 'OPERATION'], ascending=[True, False],inplace=True)

In [45]:
ac = irpf.get_last_year()
ac = ac[ac['DESC'].str.contains('Ação')]
irpf.show(ac)

In [46]:
fii = irpf.get_last_year()
fii = fii[fii['DESC'].str.contains('FII')]
irpf.show(fii)

In [47]:
irpf.show(irpf.get_last_year())

In [48]:
df = pd.read_csv('/home/doreis/Documents/IRPF/2022/2022_informes_redimento/clear/proventos.csv', decimal=',', thousands='.')
# print(df[df['Ativo'] == 'CIELO'])
df=df[['Ativo', 'Evento', 'ValorLiquido']]
df['Ativo'] = df['Ativo'].str.replace('FII', 'FII ')

In [49]:
display(df)

           Ativo     Evento  ValorLiquido
0       AMBEVS/A  DIVIDENDO        $38.35
1       BRADESCO        JCP         $2.93
2       BRADESCO        JCP         $3.37
3       BRADESCO        JCP         $2.93
4       BRADESCO        JCP         $2.93
..           ...        ...           ...
227  PORTOSEGURO  DIVIDENDO       $341.67
228       SMILES        JCP       $321.30
229       SMILES  DIVIDENDO     $3,503.57
230       TRISUL  DIVIDENDO        $36.28
231       TRISUL  DIVIDENDO        $36.28

[232 rows x 3 columns]

In [50]:
g = df.groupby(['Ativo', 'Evento']).sum()
display(g)

                           ValorLiquido
Ativo        Evento
AMBEVS/A     DIVIDENDO           $38.35
BRADESCO     DIVIDENDO           $43.25
             JCP                $130.08
CIAHERING    DIVIDENDO           $37.39
CIELO        DIVIDENDO           $19.05
             JCP                $432.85
ENGIEBRASIL  DIVIDENDO          $322.47
             JCP                 $18.23
EZTEC        DIVIDENDO           $84.79
FII CSHGURB  RENDIMENTO         $103.30
FII DEVANT   RENDIMENTO         $171.05
FII FATORVE  RENDIMENTO         $191.30
FII GTOWERS  RENDIMENTO          $96.90
FII HGREAL   RENDIMENTO         $116.61
FII HSILOG   RENDIMENTO         $104.40
FII HSIMALL  RENDIMENTO          $97.58
FII KINEASC  RENDIMENTO         $124.90
FII MAXIREN  RENDIMENTO         $170.00
FII RBRALPHA RENDIMENTO         $259.20
FII RBRPCRI  RENDIMENTO         $216.74
FII SPDOWNT  AMORTIZACAO        $316.25
             RENDIMENTO         $333.96
FII VBIREIT  RENDIMENTO          $35.76
FII VINCILG  RENDIMENTO         $190.15
FII VINCILOG RENDIMENTO          $34.70
FII VINCISC  RENDIMENTO         $339.84
FII XPLOG    RENDIMENTO         $292.40
FII XPMACAE  RENDIMENTO         $790.92
FII XPMALLS  RENDIMENTO         $277.35
FLEURY       DIVIDENDO           $49.43
             JCP                 $19.95
GOL          RESGATETOTAL     $4,451.96
GRENDENE     DIVIDENDO          $608.29
             JCP                $132.04
IHPARDINI    JCP                 $26.81
ITAUUNIBANCO DIVIDENDO           $44.78
             JCP                 $56.00
LOCAMERICA   JCP                 $36.00
M.DIASBRANCO JCP                $369.19
MOVIDA       JCP                  $6.52
MRV          DIVIDENDO           $48.70
PORTOSEGURO  DIVIDENDO          $607.98
             JCP                $273.65
SMILES       DIVIDENDO        $3,503.57
             JCP                $321.30
TRISUL       DIVIDENDO           $72.56

In [51]:
tx = Taxation(csv)
tx.Process('Ação')
display(tx.swingTradeTable)
display(tx.dayTradeTable)

                    Profit     AMOUNT    AcumLoss   Taxable       Tax
Year Month
2018 March          $10.15  $1,894.00       $0.00    $10.15     $0.00
     April         $215.05  $6,550.00       $0.00   $215.05     $0.00
     November    $1,211.07  $2,858.40       $0.00 $1,211.07     $0.00
2020 January     $9,819.70 $19,994.85       $0.00 $9,819.70     $0.00
     June        $3,873.37 $18,396.00       $0.00 $3,873.37     $0.00
     July        $1,698.35  $5,510.75       $0.00 $1,698.35     $0.00
2021 May           $837.52  $4,396.50       $0.00   $837.52     $0.00
     June        $4,224.91 $36,379.33       $0.00 $4,224.91   $844.98
     July        $6,038.13 $19,030.00       $0.00 $6,038.13     $0.00
     August        $333.07    $867.28       $0.00   $333.07     $0.00
     November    $2,820.57 $10,835.00       $0.00 $2,820.57     $0.00
2022 April          $57.44 $10,783.92       $0.00    $57.44     $0.00
     May         $1,171.57  $2,903.00       $0.00 $1,171.57     $0.00
     July           $-0.00 $16,302.75      $-0.00     $0.00     $0.00
     August     $-1,397.06 $26,947.68  $-1,397.06     $0.00     $0.00
     September   $2,856.56 $19,575.00       $0.00 $1,459.50     $0.00
     October     $5,244.23 $30,116.00       $0.00 $5,244.23 $1,048.85
     November    $2,890.67 $17,662.00       $0.00 $2,890.67     $0.00
2023 January   $-54,197.66 $88,985.74 $-54,197.66     $0.00     $0.00

               Profit  AcumLoss  Taxable   Tax
Year Month
2019 November  $19.00         0   $19.00 $3.80

In [52]:
tx = Taxation(csv)
tx.Process('FII')
display(tx.swingTradeTable)

                    Profit     AMOUNT    AcumLoss  Taxable    Tax
Year Month
2018 May           $126.45 $11,111.47       $0.00  $126.45 $25.29
     June            $1.51  $2,004.80       $0.00    $1.51  $0.30
     September  $-5,072.77  $8,600.05  $-5,072.77    $0.00  $0.00
2019 April         $807.86 $15,894.00  $-4,264.92    $0.00  $0.00
     July        $4,412.68 $19,500.06       $0.00  $147.76 $29.55
2021 November   $-1,048.49  $3,073.00  $-1,048.49    $0.00  $0.00
2022 April      $-3,055.47  $9,551.83  $-4,103.96    $0.00  $0.00
     August         $88.41  $6,478.92  $-4,015.55    $0.00  $0.00
     September     $-32.02    $848.00  $-4,047.57    $0.00  $0.00
2023 January   $-17,986.50 $56,842.13 $-22,034.07    $0.00  $0.00